

/* =======================================================================================
.                                    Home page
==========================================================================================*/


/* ========================== Hero Section ========================= */

.hero {
    background-image: url(../Images/hero-background.jpg);
    background-size: cover;
    text-align: center;
    height: 70vh;

    .wellcome {
        color: map-get($colors, super-lila);
        font-size: 1.7em;
        letter-spacing: 0.2em;
        line-height: 2;
    }

    h1 {
        @extend .section-title;
        color: map-get($colors, super-lila);
        font-size: 2.5em;
    }

    &__btn {
        margin-top: 5em;
    }
    

}

/* ===================== End Hero Section ======================= */



/* =====================About Me Section ======================= */

.about-me-section {

    &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    &__title {
        font-weight: 700;
        font-size: 1.5em;
        padding: 3rem 0 1rem 0;
    }

    &__text {
        color: map-get($colors, violeta);
    }
}

/* ===================== End About Me Section ======================= */



/* ===================== Blog Section ======================= */
.blog-section {
    background: rgb(209,186,255);
    background: linear-gradient(180deg, rgba(209,186,255,1) 25%, rgba(240,234,243,1) 75%);

    &__title {
        @extend .section-title;
        line-height: 4.5rem;
        color: map-get($colors, violeta-oscuro);
        padding: 2rem 0;
    }

    &-card {
        border-radius: 1rem;

        &__img {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }

        &__date {
            color: map-get($colors, violeta);
            font-size: .9rem;
        }

        &__title {
            color: map-get($colors, violeta-oscuro);
            font-size: 1.5rem;
            padding-bottom: 1rem;
        }

        &__btn {
            margin: auto;
        }
    }

    &__btn {
        margin-top: 0;
        margin-bottom: 1.5em;
    }

}

/* ===================== End Blog Section ======================= */


/* ========================== Shop Section ========================= */

.shop-section {
    background: rgb(209,186,255);
    background: linear-gradient(180deg, rgba(209,186,255,1) 25%, rgba(240,234,243,1) 75%);
    
    &__title {
        @extend .section-title;
        line-height: 4.3rem;
    }

    &-card {
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 3rem;
        border: none;

        &__img {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }

        &__title {
            color: map-get($colors, violeta);
            font-size: 1.5rem;
        }

        &__price {
            color: map-get($colors, violeta-claro);
            margin: auto;
        }

        &-modal {
            padding: 1em;

            .modal-dialog {
                width: 100%;
            }

            &__close {
                display: flex;
                justify-content: flex-end;
                padding: 1em; 
            }

            &__title {
                @extend .shop-section-card__title;
                padding: 1.5em 0;
            }

            &__price {
                font-size: 1.5em;
            }

            &__description {
                font-size: .75em;
            }

            &__cart {
                display: flex;
                justify-content: flex-end;
            }
        }
    }

}


/* =======================================================================================
.                                    Blog page
==========================================================================================*/


/* ========================== Blog ========================= */

.blog {
    background: map-get($colors, violeta);

    &__title {
        @extend .section-title;
        color: map-get($colors, super-lila);
        letter-spacing: .3em;
    }
}

.blog-post {
    background-color: map-get($colors, super-lila);
    background: linear-gradient(0deg, rgba(240, 234, 243,1) 25%, rgba(209, 186, 255,1) 75%);

    &__title {
        color: map-get($colors, violeta-oscuro);
        filter: blur(1px);
    }

    &__subtitle {
        color: map-get($colors, violeta-claro);
    }
}

.blog, .blog-post {
    &__title {
        font-size: 2.5em;
        line-height: 1.2em;
        padding: 1em 0;
        text-align: center;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 1.3em;
        color: map-get($colors, violeta-claro);
        line-height: 1.4em;
    }

    &__paragraph {
        padding: 2em;
        margin-bottom: 0;
    }

    &__img {
        width: 80vw;
    }
}

/* ========================== End Blog ========================= */







/* =======================================================================================
.                                   Shop page
==========================================================================================*/


/* ========================== Shop ========================= */

.shop {
    background: rgb(223,187,247);

    
    &__title {
        @extend .section-title;
        color: map-get($colors, violeta-oscuro);
        letter-spacing: .3em;
        font-size: 2.5em;
        line-height: 1.2em;
        padding: 1em 0;
        text-align: center;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 1.3em;
        color: map-get($colors, violeta);
        line-height: 1.4em;
        padding: 1em;
    }

}


/* ========================== End Shop ========================= */








/* =======================================================================================
.                                    About Me page
==========================================================================================*/


/* ========================== About Me ========================= */


main{
    background: map-get($colors, violeta-oscuro);

    .about-me {
        &__title {
            @extend .section-title;
            color: map-get($colors, lila);
            letter-spacing: .3em;
            font-size: 3em;
            line-height: 1.2em;
            padding-top: 1.5em;
            text-align: center;
        }

        &__subtitle {
            font-weight: 400;
            font-size: 1.3em;
            color: map-get($colors, violeta-claro);
            line-height: 1.9em;
            padding: 2em;
        }

        &__video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            padding: 1em;
        }
    }
}

/* ========================== End About Me ========================= */

